.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-attachment: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: initial;
    width: 90px;
    height: 90px;
    border: 10px solid #999;
}